@model ProjetoBenner.Models.Pessoa
@{
    Layout = null;
    if (Session["Codigo_Acesso"] == null)
        {
                Response.Redirect("~/Login/Index");
            
        }
}

<!DOCTYPE html>

<html lang="pt-br">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link href="~/Content/menu.css" rel="stylesheet" />
    <link href='Content/fullcalendar.css' rel='stylesheet' />
    <link href='Contente/fullcalendar.print.css' rel='stylesheet' media='print' />
    <script src='Scripts/jquery-1.10.2.js' type="text/javascript"></script>
    <script src='Scripts/jquery-ui.custom.min.js' type="text/javascript"></script>
    <script src='Scripts/fullcalendar.js' type="text/javascript"></script>
    <link href="~/Content/calendario.css" rel="stylesheet" />
</head>

<body>
    <div class="body-wrap" style=" margin-top: 2%;">
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand">Agenda On</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Consulta <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Index", "AgendarConsulta")">Agendar Consulta</a></li>
                                    <li><a href="#">Lista de Consulta</a></li>
                                    <li><a href="#">Confirmar</a></li>
                                </ul>
                            </li>
                            @*<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Perfil <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Ver informações</a></li>
                                    <li><a href="@Html.ActionLink("Edit", "Paciente", new { id = Session["Cd})">Alterar Dados</a></li>
                                    <li><a href="@Url.Action("Edit", "Acessoes")">Alterar Senha</a></li>
                                </ul>
                            </li>*@
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="@Url.Action("LogOut", "Login")">Sair<span class="glyphicon glyphicon-log-out" style="padding-left: 5px;"></span></a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
    </div>
    <div class="main">
        <div id='wrap'>

            <div id='calendar'></div>

            <div style='clear:both'></div>
        </div>

    </div>
    <script>
        $('ul.nav li.dropdown').hover(function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
        }, function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
        });
    </script>

</body>
</html>